<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Enter Prices and Quantities for Five Products</h1>
        <form action="/" method="post">
            <div class="input-group">
                {% for i in range(1, 6) %}
                <h2>Product {{ i }}</h2>
                <label for="price_{{ i }}">Price:</label>
                <input type="text" id="price_{{ i }}" name="price_{{ i }}" required><br><br>
                <label for="quantity_sold_{{ i }}">Quantity Sold:</label>
                <input type="text" id="quantity_sold_{{ i }}" name="quantity_sold_{{ i }}" required><br><br>
                <label for="how_much_to_make_{{ i }}">How much it took to make:</label>
                <input type="text" id="how_much_to_make_{{ i }}" name="how_much_to_make_{{ i }}" required><br><br>
                {% endfor %}
            </div>
            <input type="submit" value="Calculate">
        </form>
    </div>
</body>
</html>
